#divChatGame{	
	margin: 0px 430px 10px 10px;	
	min-width: 400px;
	height: 400px;
	border: 4px LemonChiffon solid;
	border-radius: 10px;
	overflow: auto;
	
}
#titChat{
	color: LemonChiffon;
	font-family: 'Egipet';
	font-size: 150%;
}
#chatArea{
	display: none;
	text-align: center;	
}
#areaMess{
	width: 90%;
	height: 30px;
	display: block;
	resize: none;
	margin: 5px 5% 5px 5%;		
}
::-webkit-input-placeholder {color:BurlyWood;}
::-moz-placeholder          {color:BurlyWood;}/* Firefox 19+ */
:-moz-placeholder           {color:BurlyWood;}/* Firefox 18- */
:-ms-input-placeholder      {color:BurlyWood;}
#bSendMess, #bCancelMess{
	display: inline-block;
	width: 120px;
	margin-top: 10px;
}
#sp{
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	white-space: nowrap;	
}
#messageArea{
	text-align: left;
}
.dateMess{
	margin-left: 100px;
	font-family: 'Beer money';
	font-size: 80%;
	color: gray;
}
.bRemMess{
	text-align: center;
	width: 20px;	
}
.date:hover .bRemMess{
    transform: scale(1);
    -ms-transform: scale(1);
}
#divChatGame .dateMess{
	color: BurlyWood;
}
#divChatGame .textMessage{
	color: LemonChiffon;
}
#divChatGame .fromUser{
	color: PaleGreen;
}
#divChatGame .toUser{
	color: CornflowerBlue;
}
#divChatGame #areaMess{
	color: LemonChiffon
}
.fromUser{
	font-family: 'Beer money';
	font-size: 100%;
	color: green;
}
.toUser{
	font-family: 'Beer money';
	font-size: 100%;
	color: blue;
}
.textMessage{
	font-family: 'Beer money';
	font-size: 150%;
	color: brown;	
}
#arrow{
	height: 20px;
	width: 20px;
	margin: 0px 5px 0px 10px;	
}